.searchInput:focus{
    outline: none;
    
}

.dropdown{
    margin-top: 40px;
    width: 400px;
    height: 500px;
    background-color: #F0F8FF;
}

.dropdown_value-container{
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    cursor: pointer;
    background-color: white;
    
}

.dropdown_value-container_current{
    margin-left: 10px;
}

.dropdown_value-container_icon-container{
    margin-right: 10px;
}

.dropdown_value-combobox{
    margin-top: 6px;

}

.dropdown_value-combobox_icon{
    display: flex;
    width: 358px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.searchInput{
    width: 330px;
    height: 40px;
    background-color: white;
    border: none;   
}

.dropdown_value-combobox_list-container{
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    margin-left: 20px;
    background-color: '#D3D3D3';
    
}
.dropdown_value-combobox_list-container-list{
    height: 40px;
    width: 358px;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: left;
    line-height: 40px;
    cursor: pointer;

}
.dropdown_value-combobox_list-container-list_item{
    height: 40px;
    cursor: pointer;
    background-color: #D3D3D3;
    padding: 0px 0px 0px 0px;
    width: 100%;
    background-color: white;
    text-align: left;
    line-height: 40px;
}