.toggle_name{
    line-height: 50px;
    cursor: pointer;
    width: 50%;
    height: 100%;
    z-index: 5;
    margin-right: auto;
    margin-left: auto;
}

.toggle_box{
    position:absolute;
    width: 174px;
    height: 44px;
    background-color: white;
    margin-left: 2px;
    border-radius: 20px;
    transition:0.3s;
}